@import "tailwindcss";
@theme{
  --color-primary-light: #ff6600;
  --color-primary-dark: #ff8c42;
  --color-secondary-light: #374151;
  --color-secondary-dark: #9ca3af;
  --color-background-light: #ffffff;
  --color-background-dark: #1f2937;
  --color-accent-light: #facc15;
  --color-accent-dark: #eab308;
}

/* .dark{
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-background: var(--color-background-dark);
  --color-accent: var(--color-accent-dark);
} */